<div class="box-you">
  <%= @question  %>
  <p><i>-You</i></p>
</div>
<div class="box-coach">

  <strong><%= @answer  %></strong>
  <p><i>-Your coach</i></p>
</div>

<%= link_to "Ask a new question", ask_path %>

